body{
    background-color: #a7adba;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


*{list-style-type: none}
a{text-decoration: none;}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}


/*NavBar*/
nav{display: flex;}
ul{
    display: flex;
}

li{
    display: flex;
    font-size: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li a{ 
    color: #222;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 15px;
    transition: 0.2s;
}


li a:hover{
    background-color: #F8C8DC;
}


li img{
    max-width: 60%;
    height: auto;
}


/*MAIN*/


.biografia_area{
    width: 80%;

    margin: 0 auto;
}
.main_img{    
    text-align: center;
    font-size: 150%;
}

.main_img img{
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.main_text{
    font-size: 120%;
}

.album_grid{

    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.album_card_img, .album_card_text{flex: 1;}

.album_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.album_card_img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.album_card_text{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    text-transform: uppercase;
}
.album_card_img img{
    width: 50%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #444;
    margin: 3%;
}


.album_card:nth-child(1){background-color: #ddd;}
.album_card:nth-child(2){background-color: white;}
.album_card:nth-child(3){background-color: #fae2ff;}
.album_card:nth-child(4){background-color: #eee;}
.album_card:nth-child(5){background-color: #fbd808;}
.album_card:nth-child(6){background-color: #c70e0e;}
.album_card:nth-child(7){background-color: #fff;}
.album_card:nth-child(8){background-color: #3366ff;}
.album_card:nth-child(9){background-color: black; color: #fff;}
.album_card:nth-child(10){background-color: #7fffd4;;}



footer{
    margin-top: 2%;
    border-top: 1px solid black;
    text-align: center;
}

 a{
    text-decoration: none;
    color: #ab00ff;
    
}

 a:hover{
    color: #ff00c1;
}

/* Adicione esta parte no final do seu arquivo CSS */

/* Estilo para telas menores que 768px de largura */
@media screen and (max-width: 768px) {
    .container {
        width: 95%; /* Reduz a largura do container */
    }
    
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
        
    }
    nav img{display: none;}
    


    nav ul li {
         /* Adiciona um espaço entre os itens */
        text-align: center; /* Centraliza o texto */
        font-size: 12px; /* Reduz o tamanho do texto */
        padding: 5px 0; /* Adiciona um preenchimento vertical para melhor espaçamento */
    }

    .main_img img {
        width: 100%; 
    }

    .main_text {
        font-size: 100%; 
    }

    .album_card_img img {
        width: 80%; 
    }

    .album_card_text{
        font-size: 100%;
    }
}





